<template>
  <bar-chart></bar-chart>
</template>
<script>
import Vue from 'vue'
import VueChartJs from 'vue-chartjs'

Vue.component('bar-chart', {
  extends: VueChartJs.Bar,
  mounted () {
    this.renderChart({
      labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
      datasets: [
        {
          label: 'Data 1',
          backgroundColor: '#f87979',
          data: [40, 39, 10, 40, 39, 80, 40]
        }, {
          label: 'Data 2',
          backgroundColor: 'blue',
          data: [20, 29, 50, 40, 90, 54, 90]
        }
      ]
    }, {responsive: true, maintainAspectRatio: false})
  }
})
</script>
