<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
  <a class="navbar-brand text-white" href="#">iDeal Wealth & Funds</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search client..." aria-label="Search">
    </form>
  </div>
</nav>
    <router-view/>
  </div>
</template>
